@blue: #7EC0EE;

* {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #efefef;
}
a {
	color: inherit;
	font-size: 1em;
}
img {
	width: 100%;
}
hr {
	height: 0;
	border: none;
	border-top: 1px solid #dedede;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.section {
	max-width: 940px;
	width: 90%;
	margin: 100px auto;
}
.sectiontitle {
	font-size: 2.2em;
	font-weight: 600;
	color: #3d4451;
	text-align: center;
	margin-bottom: 40px;
}
.button-default {
	padding: 14px 18px;
	border: 1px solid @blue;
	border-radius: 4px;
	font-weight: bold;
	display: inline-block;
	transition: box-shadow 0.2s;
	box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5);
	&:hover {
		box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
	}
}
.section-shadow {
	border-radius: 10px;
	box-shadow: 0 1px 20px -6px rgba(0, 0, 0, .5);
	transition: box-shadow .3s ease;
	&:hover {
		box-shadow: 0 5px 10px 5px rgba(110, 110, 110, .4);
	}
}

/* 导航 */
.topNavBar {
	padding: 20px 0;
	position: fixed;
	width: 100%;
	transition: all 0.5s;
	color: #b7b7b7;
	.topNavBar-inner {
		padding: 0 30px;
		@media screen and (min-width: 768px) {
			nav {
				padding-top: 5px;
				ul > li {
					float: left;
					margin: 0 17px 0 17px;
					position: relative;
					a {
						font-size: 0.8em;
						font-weight: bold;
						border-bottom: 3px solid transparent;
						border-top: 3px solid transparent;
						padding: 5px 0 5px 0;
						display: block;
						position: relative;
					}
					.submenu {
						display: none;
						position: absolute;
						right: 0;
						top: 100%;
						background-color: #fff;
						color: #3d4451;
						box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
						li {
							cursor: pointer;
							white-space: nowrap;
							padding: 8px 10px;
						}
					}
				}
				ul li.active > .submenu {
					display: block;
					animation: submenuSlide .2s;
				}
				ul li.active a::after,
				ul li.highlight a::after {
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 3px;
					background: @blue;
					animation: NavSlide .2s;
				}
			}
		}

		// 过渡动画
		@keyframes submenuSlide {
			0% {
				margin-right: 100%;
			}
			100% {
				margin-right: 0%;
			}
		}
		@keyframes NavSlide {
			0% {
				width: 0;
			}
			100% {
				width: 100%;
			}
		}

		.logo {
			font: 24px 'Arial Black';
			padding-top: 3px;
			padding-bottom: 4px;
			.rs {
				margin-right: 4px;
				color: @blue;
			}
			.card {
				color: #9a9da2;
			}
		}
	}
}
.sticky {
	opacity: 0.9;
	background-color: white;
	padding: 8px 0;
	z-index: 1;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	color: #3d4451;
}

/* 背景 */
.banner {
	height: 515px;
	background: url(../img/rs-cover.jpg) no-repeat center center;
	background-size: cover;
	.mask {
		height: 515px;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

/* 名片 */

.myCard {
	margin-top: -350px;
	.myCard-inner {
		background-color: white;
		padding: 40px 50px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		.photo {
			float: left;
			max-width: 215px;
			margin: 0 auto;
		}
		.intro {
			float: right;
			max-width: 560px;
			margin: 0 auto;
			.sayHello {
				color: white;
				background-color: @blue;
				padding: 4px 16px;
				display: inline-block;
				line-height: 22px;
				margin-bottom: 18px;
				position: relative;
				.triangle {
					display: inline-block;
					border: 10px solid transparent;
					border-left-color: @blue;
					border-top-width: 0;
					width: 0;
					position: absolute;
					top: 100%;
					left: 10px;
				}
			}
			h1 {
				margin-bottom: 8px;
			}
			hr {
				margin: 18px 0;
			}
			.selfIntro {
				line-height: 1.5;
			}
			.myCardText p {
				padding: 8px 0;
				span {
					display: inline-block;
					&:first-child {
						width: 30%;
						font-weight: bold;
					}
					&:nth-child(2) {
						width: 70%;
						color: #9da0a7;
					}
				}
			}
		}
	}
}

.media {
	background-color: @blue;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	> a {
		display: inline-block;
		width: 40px;
		line-height: 30px;
		padding: 5px 0;
		border-radius: 50%;
		margin: 16px;
		position: relative;
		transition: all .2s;
		&:hover {
			background: #b0e2ff;
		}
		svg {
			width: 30px;
			height: 30px;
			fill: white;
			vertical-align: top;
		}
		.popover {
			width: 150px;
			height: 150px;
			position: absolute;
			transform: translate(-60%, -105%);
			border: 2px solid #337ab7;
			border-radius: 5px;
			display: none;
		}
		.popover-qq {
			background: url(../img/qq.jpg) no-repeat transparent;
			background-size: cover;
		}
		.popover-weixin {
			background: url(../img/weixin.png) no-repeat transparent;
			background-size: cover;
		}
	}
}

/* 技能 */
.skills {
	.skills-content {
		display: flex;
		padding: 20px 30px;
		overflow: hidden;
		background: white;
		.skills-text {
			max-width: 440px;
			padding-right: 10px;
			line-height: 1.4;
			h3 {
				margin-bottom: 3px;
			}
			p {
				color: rgba(0, 0, 0, 0.66);
			}
			hr {
				margin: .5em 0;
			}
		}
		#radar {
			flex-grow: 1;
			min-height: 500px;
		}
	}
}

/* 作品集 */
.portfolio {
	.portfolio-content {
		display: flex;
		flex-direction: column;
		.portfolio-list {
			display: flex;
			height: 300px;
			margin: 20px 0 20px;
			overflow: hidden;
			&:hover img {
				transform: scale(1.1);
			}
			&:first-child {
				margin-top: 0;
			}
			.portfolio-list-img {
				width: 55%;
				overflow: hidden;
				img {
					height: 100%;
					vertical-align: top;
					transition: all .6s;
				}
			}
			.portfolio-list-content {
				flex: 1;
				display: flex;
				flex-direction: column;
				padding: 20px 30px;
				background: white;
				h3 {
					margin-bottom: 1em;
				}
				ul {
					flex: 1;
					li {
						line-height: 1.6;
						margin-bottom: 0.5em;
						span {
							color: rgba(0, 0, 0, 0.66);
						}
					}
				}
				a {
					padding: 8px 12px;
					border-color: rgba(0, 0, 0, 0.66);
					font-weight: normal;
					margin-top: 0.5em;
				}
			}
			&:nth-child(odd) {
				.portfolio-list-img {
					order: 1;
				}
				.portfolio-list-content {
					order: 0;
					a {
						margin-right: 1em;
					}
				}
			}
			&:nth-child(even) {
				.portfolio-list-content {
					text-align: right;
					a {
						margin-left: 1em;
					}
				}
			}
		}
	}
}

/* 个人经历 */
.experience {
	max-width: 800px;
	.experience-inner {
		display: flex;
		justify-content: center;
		padding: 20px;
		background: white;
	}
}
.experience-left-ul {
	position: relative;
	width: 150px;
	li {
		height: 33%;
		display: flex;
		align-items: center;
		color: @blue;
		position: relative;
		padding: 0 10px;
		span {
			border: 2px solid @blue;
			height: 16px;
			width: 16px;
			border-radius: 50%;
			background: #fff;
			display: block;
			position: absolute;
			right: -12px;
		}
		.circle {
			top: 45%;
		}
	}
}
.experience-right-ul {
	border-left: 8px solid #d7d8d8;
	li {
		height: 33%;
		padding: 15px 0 15px 50px;
		span {
			color: @blue;
		}
		h3,
		p {
			margin: 5px 0;
		}
	}
}

/* 留言板 */
.message {
	ol {
		max-width: 800px;
		margin: 0 auto;
		border-top: 1px solid #ececec;
		background-color: #fff;
		box-shadow: 0 1px 6px 4px rgba(102, 102, 102, 0.1);
		li {
			padding: 13px;
			border-bottom: 1px solid #ececec;
			p {
				margin-top: 6px;
			}
		}
	}
	form {
		text-align: center;
		margin-bottom: 20px;
		.formName,
		.formContent {
			display: inline;
		}
		label,
		input {
			vertical-align: middle;
			padding: 4px;
		}
		input {
			border-radius: 3px;
			border: 1px solid @blue;
		}
		input[name=name] {
			width: 18%;
		}
		input[name=content] {
			width: 40%;
		}
		input[type=submit] {
			margin-left: 10px;
			padding: 3px 20px;
			cursor: pointer;
			color: #fff;
			background-color: @blue;
		}
		.notice {
			color: red;
			padding: 3px;
			display: none;
			text-align: right;
			width: 90%;
		}
		.noticeVisible {
			display: block;
		}
	}
}

/* 页尾 */
.pageEnd {
	text-align: center;
	margin: 110px auto 15px auto;
	color: #333;
	font-size: 0.8em;
}

/***************************/
/* 移动端适配 */
@media screen and (max-width: 768px) {
	.section {
		width: 95%;
		margin: 60px auto;
	}
	.section-title {
		margin-bottom: 30px;
	}
	/* 导航 */
	.topNavBar {
		nav {
			transition: all .3s;
			ul {
				position: absolute;
				left: 0;
				top: 57px;
				width: 100%;
				display: none;
				li {
					line-height: 40px;
					height: 40px;
					width: 100%;
					background: rgba(0, 0, 0, .8);
					border-bottom: 1px solid #9fb6cd;
					a {
						width: 100%;
						display: inline-block;
						text-align: center;
					}
				}
			}
		}
		.navMobile {
			width: 36px;
			height: 36px;
			float: right;
			background: url(/img/menu.png) no-repeat;
			background-size: cover;
		}
	}
	.sticky {
		background: rgba(0, 0, 0, .6);
		color: #fff;
		box-shadow: none;
	}

	/* 名片 */
	.myCard {
		margin-top: -610px;
		.myCard-inner {
			padding: 20px;
			.photo {
				float: none;
			}
			.intro {
				float: none;
				margin-top: 20px;
				h1 {
					margin: 3px 0 15px;
				}
			}
		}
	}
	.media {
		a {
			margin: 10px 8px;
		}
	}

	/* 背景 */
	.banner {
		height: 700px;
		.mask {
			height: 700px;
		}
	}

	/* 技能 */
	.skills {
		.skills-content {
			flex-direction: column;
			padding: 20px;
			.skills-text {
				order: 1;
				padding-right: 0;
				margin-top: -40px;
			}
			li {
				padding-left: 0;
			}
		}
	}
	/* 作品集 */
	.portfolio {
		.portfolio-content {
			.portfolio-list {
				flex-direction: column;
				height: auto;
				.portfolio-list-img {
					width: 100%;
				}
				.portfolio-list-content {
					padding: 20px;
				}
				&:nth-child(odd) {
					.portfolio-list-img {
						order: 0;
					}
					.portfolio-list-content {
						order: 1;
					}
				}
				&:nth-child(even) {
					.portfolio-list-content {
						text-align: left;
						a {
							margin-left: 0;
							margin-right: 1em;
						}
					}
				}
			}
		}
	}

	/* 个人经历 */
	.experience-left-ul {
		width: 180px;
		li {
			padding-left: 0;
		}
	}
	.experience-right-ul {
		li {
			padding-left: 15px;
		}
	}

	/* 留言板 */
	.message {
		form {
			.formName,
			.formContent {
				display: block;
				text-align: left;
				margin-bottom: 5px;
			}
			label {
				display: none;
			}
			input[name=name],
			input[name=content] {
				width: 100%;
			}
			input[type=submit] {
				width: 100%;
				margin: 0;
			}
		}
	}
}
